@model Game_Step.ViewModels.GamesViewModel.GameViewModel

@{
    ViewBag.Title = Model.Game.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";

    int count = 1;
}

@section Style{
    <link href="~/css/Game/Game.css" rel="stylesheet" />
    <link href="/css/Game/GameScreenshotPopup.css" rel="stylesheet" />
    <link href="/css/Game/Comment.css" rel="stylesheet" />
}

<div class="position-relative">
    <img class="product-bg" src="~/img/Warhammer.jpg" alt="@Model.Game.Name" />
</div>

<div class="main-content">
    <div class="product-name">
        <h1>@Model.Game.Name</h1>
    </div>
    <div class="product-content">
        <div class="product-left">
            <div class="scale-img main-img">
                <img class="scale-img" src="@Model.Game.GameImage?.InnerImage" />
                <div class="text-screenshot" onclick="toggleScreenshotPopup()">Скриншоты</div>
            </div>

            <div class="product-advantages-mobile">
                <ul>
                    <li>
                        Наличие: много
                    </li>
                    <li>
                        Моментальная доставка
                    </li>
                    <li>
                        Лицензионный ключ активации в Origin
                    </li>
                    <li>
                        Накопительная скидка до 10%
                    </li>
                </ul>
            </div>

            <div class="product-info">
                <ul>
                    <li>
                        <div class="product-info-key">Genre</div>
                        <div class="product-info-value">@Model.Game.Genre</div>
                    </li>
                    <li>
                        <div class="product-info-key">Publisher</div>
                        <div class="product-info-value">@Model.Game.Publisher</div>
                    </li>
                    <li>
                        <div class="product-info-key">Developer</div>
                        <div class="product-info-value">@Model.Game.Developer</div>
                    </li>
                    <li>
                        <div class="product-info-key">Features</div>
                        <div class="product-info-value">@Model.Game.Features</div>
                    </li>
                    <li>
                        <div class="product-info-key">Region</div>
                        <div class="product-info-value">@Model.Game.Region</div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="product-right">
            <div class="product-header">
                <div class="product-advantages">
                    <ul>
                        <li>
                            Наличие: много
                        </li>
                        <li>
                            Моментальная доставка
                        </li>
                        <li>
                            Лицензионный ключ активации в @Model.Game.WhereKeyActivated
                        </li>
                        <li>
                            Накопительная скидка до 10%
                        </li>
                    </ul>
                </div>
                <div class="product-cart-block">
                    <div class="price-block">
                        @if (Model.Game.GamePrice.IsDiscount)
                        {
                            <div class="price-discount">
                                @Model.Game.GamePrice.Discount%
                            </div>
                            <div class="product-price">

                                <div class="old-price">
                                    @Model.Game.GamePrice.Price руб.
                                </div>
                                <div class="current-price-product">
                                    @Model.Game.GamePrice.DiscountPrice
                                    <sup class="sup-price-cur">РУБ.</sup>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="product-price">
                                <div class="current-price-product">
                                    @Model.Game.GamePrice.Price
                                    <sup class="sup-price-cur">РУБ.</sup>
                                </div>
                            </div>
                        }

                    </div>
                    <div class="product-md-block">
                        <a href="javascript: void(0)" class="buy-button no-cart" data-id="@Model.Game.Id">
                            В КОРЗИНУ
                        </a>
                        <div class="product-help">
                            <div class="info-how-activate-key">
                                Как активировать
                            </div>
                            <div class="subscribe-price">
                                Хочу дешевле
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-info--mobile">
                <ul>
                    <li>
                        <div class="product-info-key">Genre</div>
                        <div class="product-info-value">@Model.Game.Genre</div>
                    </li>
                    <li>
                        <div class="product-info-key">Publisher</div>
                        <div class="product-info-value">@Model.Game.Publisher</div>
                    </li>
                    <li>
                        <div class="product-info-key">Developer</div>
                        <div class="product-info-value">@Model.Game.Developer</div>
                    </li>
                    <li>
                        <div class="product-info-key">Features</div>
                        <div class="product-info-value">@Model.Game.Features</div>
                    </li>
                    <li>
                        <div class="product-info-key">Region</div>
                        <div class="product-info-value">@Model.Game.Region</div>
                    </li>
                </ul>
            </div>
            <div class="description">
                @Html.Raw(Model.Game.Description)
            </div>


            <div class="requirements-system">
                <h2>Minimum system requirements</h2>
                <ul>
                    <li>
                        <div class="requirements-system-key">OC</div>
                        <div>@Model.Game.MinimumOC</div>
                    </li>
                    <li>
                        <div class="requirements-system-key">CPU</div>
                        <div>@Model.Game.MinimumCPU</div>
                    </li>
                    <li>
                        <div class="requirements-system-key">RAM</div>
                        <div>@Model.Game.MinimumRAM</div>
                    </li>
                    <li>
                        <div class="requirements-system-key">VideoCard</div>
                        <div>@Model.Game.MinimumVideoCard</div>
                    </li>
                    <li>
                        <div class="requirements-system-key">DirectX</div>
                        <div>@Model.Game.MinimumDirectX</div>
                    </li>
                    <li>
                        <div class="requirements-system-key">HDD</div>
                        <div>@Model.Game.MinimumHDD</div>
                    </li>
                </ul>

                <div id="panel-show-req">
                    <h2>Recommend system requirements</h2>
                    <ul>
                        <li>
                            <div class="requirements-system-key">OC</div>
                            <div>@Model.Game.MinimumOC</div>
                        </li>
                        <li>
                            <div class="requirements-system-key">CPU</div>
                            <div>@Model.Game.MinimumCPU</div>
                        </li>
                        <li>
                            <div class="requirements-system-key">RAM</div>
                            <div>@Model.Game.MinimumRAM</div>
                        </li>
                        <li>
                            <div class="requirements-system-key">VideoCard</div>
                            <div>@Model.Game.MinimumVideoCard</div>
                        </li>
                        <li>
                            <div class="requirements-system-key">DirectX</div>
                            <div>@Model.Game.MinimumDirectX</div>
                        </li>
                        <li>
                            <div class="requirements-system-key">HDD</div>
                            <div>@Model.Game.MinimumHDD</div>
                        </li>
                    </ul>
                </div>
                <div class="btn-show-req">ПОКАЗАТЬ РЕКОМЕНДУЕМЫЕ<i id="arrow-show-req" class="arrow arrow-down"></i></div>
            </div>

            <div class="comments">
                <div class="comments__name">
                    Комментарии
                </div>

                <form class="comments__container" asp-action="AddMainComment" asp-controller="Comment" method="post">
                    <input type="number" asp-for="Game.Id" value="@Model.Game.Id" readonly hidden />

                    <div class="comments__avatar">
                        <img class="profile-avatar-img" src="/img/Warhammer.jpg" alt="Avatar">
                    </div>
                    <div class="comments__tetx-field">
                        <div class="comments__comment-header">
                            <div class="comments__profile-name">
                                Betsq9
                            </div>
                        </div>
                        <textarea class="comments_textarea" placeholder="Напишите ваш комментарий" asp-for="MainComment.Message"></textarea>
                        <div class="comments__btn-send">
                            <button type="submit">Опубликовать</button>
                        </div>
                    </div>
                </form>

                @foreach (var comment in Model.Game.MainComments.OrderByDescending(item => item.TimeCreated))
                {
                    <ul class="comments__list">
                        <li class="comments__item">
                            <div class="comments__container">
                                <div class="commets__item-comment">
                                    <div class="comments__avatar">
                                        <img class="profile-avatar-img" src="/img/Warhammer.jpg" alt="Avatar">
                                    </div>
                                    <div class="commnets__item-content">
                                        <div class="comments__comment-header">
                                            <div class="comments__profile-name">Wonka</div>
                                            @comment.TimeCreated.ToShortDateString(), в @comment.TimeCreated.ToShortTimeString()
                                        </div>
                                        <div class="comments__comment">
                                            @comment.Message
                                        </div>

                                        <div class="commets__reply-rem">
                                            <div class="comments__reply">
                                                Ответить
                                            </div>

                                            <div class="btn-remove-comment" data-id="@comment.Id">Удалить</div>
                                        </div>

                                        <form class="comments__reply-container" style="display: none;" asp-action="AddSubComment" asp-controller="Comment" method="post">
                                            <input type="number" asp-for="Game.Id" value="@Model.Game.Id" hidden readonly />
                                            <input type="number" asp-for="MainComment.Id" value="@comment.Id" hidden readonly />
                                            <textarea class="comments_textarea" placeholder="Напишите ваш ответ" asp-for="MainComment.Message"></textarea>
                                            <div class="comments__btns-reply">
                                                <div class="comments__close-textarea">Закрыть</div>
                                                <input type="submit" class="comments__btn-reply" value="Ответить" />
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            @foreach (var subComments in comment.SubComments)
                            {
                                <ul class="sub-ul-comment">
                                    <li class="comments__list comments__list--children">
                                        <div class="comments__container">
                                            <div class="commets__item-comment">
                                                <div class="comments__avatar">
                                                    <img class="profile-avatar-img" src="~/img/Game/logo/epic_games.png" alt="Avatar">
                                                </div>
                                                <div class="commnets__item-content">
                                                    <div class="comments__comment-header">
                                                        <div class="comments__profile-name">Gans</div>
                                                        @subComments.TimeCreated.ToShortDateString(), в @subComments.TimeCreated.ToShortTimeString()
                                                    </div>
                                                    <div class="comments__comment">
                                                        @subComments.Message
                                                    </div>
                                                    <div class="commets__reply-rem">
                                                        <div class="btn-remove-sub-comment" data-id="@subComments.Id">Удалить</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            }
                        </li>
                    </ul>
                }

            </div>
        </div>



        <div class="popup-screenshot" id="popup-screenshot">
            <div class="overlay-popup-screenshot" onclick="toggleScreenshotPopup()"></div>
            <div class="content-screenshots">
                <img src="/img/icon/close_btn.png" class="close-btn" onclick="toggleScreenshotPopup()" />
                <div class="slideshow-screenshot-container">
                    @foreach (var scr in Model.Game.GameScreenshots)
                    {
                        <div class="slide-image fade-anim">
                            <img src="@scr.Screenshot">
                        </div>
                        count++;
                    }

                    <div style="text-align: center">
                        @for (int i = 1; i < count; i++)
                        {
                            <span class="dot" onclick="currentSlide(@i)"></span>
                        }
                    </div>

                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/Game/Game.js"></script>

    <script>
        $(document).ready(function () {
            $(".btn-remove-comment").click(function () {
                if (confirm("Вы действительно хотите удалить?")) {
                    const getId = $(this).attr("data-id");
                    const thisButton = $(this);
                    $.ajax({
                        url: window.location.origin + "/Comment/RemoveMainComment",
                        type: "POST",
                        data: { "id": getId },
                        success: function (result) {
                            if (result === true) {
                                $(thisButton).parentsUntil("ul.comments__list").hide(250, function () {
                                    $(thisButton).parentsUntil("ul.comments__list").remove();
                                });
                            }
                            else {
                                alert("Произошла ошибка, комментарий не удален");
                            }
                        },
                    });

                }
            });
        });

        $(document).ready(function () {
            $(".btn-remove-sub-comment").click(function () {
                if (confirm("Вы действительно хотите удалить?")) {
                    const getId = $(this).attr("data-id");
                    const thisButton = $(this);
                    $.ajax({
                        url: window.location.origin + "/Comment/RemoveSubComment",
                        type: "POST",
                        data: { "id": getId },
                        success: function (result) {
                            if (result === true) {
                                $(thisButton).parentsUntil("ul.sub-ul-comment").hide(250, function () {
                                    $(thisButton).parentsUntil("ul.sub-ul-comment").remove();
                                });
                            }
                            else {
                                alert("Произошла ошибка, комментарий не удален");
                            }
                        },
                    });

                }
            });
        });
    </script>

    <script>
        //method for dispalying the ccomment container of the reply

        $(document).ready(function () {
            $(".comments__reply").click(function () {

                let checker = $(this).next().hasClass("reply-container-active");
                if (checker !== true) {
                    $(".comments__reply-container").hide(200);
                }

                $(".comments__reply-container").removeClass("reply-container-active");

                $(this).parent().next().addClass("reply-container-active");
                $(this).parent().next().show(500);
            });
        });

        //method for hide the comment container of the reply
        $(document).ready(function () {
            $(".comments__close-textarea").click(function () {
                $(this).parent().parent().parent().removeClass("reply-container-active");
                $(this).parent().parent().parent().hide(500);
            });
        });
    </script>
}

