@model Game_Step.ViewModels.GamesViewModel.GameViewModel

@{
    ViewBag.Title = Model.Game.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";

    int count = 1;
}

@section Style{
    <link href="~/css/Game/Game.css" rel="stylesheet" />
    <link href="/css/Game/GameScreenshotPopup.css" rel="stylesheet" />
    <link href="/css/Game/Comment.css" rel="stylesheet" />
}

<div class="position-relative">
    <img class="product-bg" src="~/img/Warhammer.jpg" alt="@Model.Game.Name" />
</div>

<div class="main-content">
    <div class="product-name">
        <h1>@Model.Game.Name</h1>
    </div>
    <div class="product-content">
        <div class="product-left">
            <div class="scale-img main-img">
                <img class="scale-img" src="@Model.Game.GameImage?.InnerImage" alt="Image game" />
                <div class="text-screenshot" onclick="toggleScreenshotPopup()">Скриншоты</div>
            </div>

            <div class="product-advantages-mobile">
                <ul>
                    <li>
                        Наличие: много
                    </li>
                    <li>
                        Моментальная доставка
                    </li>
                    <li>
                        Лицензионный ключ активации в @Model.Game.WhereKeyActivated
                    </li>
                    <li>
                        Накопительная скидка до 10%
                    </li>
                </ul>
            </div>

            <div class="product-info">
                <ul>
                    <li>
                        <div class="product-info-key">Genre</div>
                        <div class="product-info-value">@Model.Game.Genre</div>
                    </li>
                    <li>
                        <div class="product-info-key">Publisher</div>
                        <div class="product-info-value">@Model.Game.Publisher</div>
                    </li>
                    <li>
                        <div class="product-info-key">Developer</div>
                        <div class="product-info-value">@Model.Game.Developer</div>
                    </li>
                    <li>
                        <div class="product-info-key">Features</div>
                        <div class="product-info-value">@Model.Game.Features</div>
                    </li>
                    <li>
                        <div class="product-info-key">Region</div>
                        <div class="product-info-value">@Model.Game.Region</div>
                    </li>
                    <li>
                        <div class="product-info-key">Release date</div>
                        <div class="product-info-value">@Model.Game.ReleaseDate.ToShortDateString()</div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="product-right">
            <div class="product-header">
                <div class="product-advantages">
                    <ul>
                        <li>
                            <div class="product-advantages__container-svg">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                                </svg>
                            </div>
                            
                            Наличие: много
                        </li>
                        <li>
                            <div class="product-advantages__container-svg">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                                </svg>
                            </div>
                            
                            Моментальная доставка
                        </li>
                        <li>
                            <div class="product-advantages__container-svg">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                </svg>
                            </div>
                            Лицензионный ключ активации в @Model.Game.WhereKeyActivated
                        </li>
                        @if (Model.Game.Region != null)
                        {
                            <li>
                                <div class="product-advantages__container-svg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z"/>
                                    </svg>
                                </div>
                            
                                Регион: @Model.Game.Region
                            </li>
                        }
                        <li>
                            <div class="product-advantages__container-svg">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M13.442 2.558a.625.625 0 0 1 0 .884l-10 10a.625.625 0 1 1-.884-.884l10-10a.625.625 0 0 1 .884 0zM4.5 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zm7 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                                </svg>
                            </div>
                            
                            Накопительная скидка до 10%
                        </li>
                    </ul>
                </div>
                <div class="product-cart-block">
                    <div class="price-block">
                        @if (Model.Game.GamePrice.IsDiscount)
                        {
                            <div class="price-discount">
                                @Model.Game.GamePrice.Discount%
                            </div>
                            <div class="product-price">

                                <div class="old-price">
                                    @Model.Game.GamePrice.Price руб.
                                </div>
                                <div class="current-price-product">
                                    @Model.Game.GamePrice.DiscountPrice
                                    <sup class="sup-price-cur">РУБ.</sup>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="product-price">
                                <div class="current-price-product">
                                    @Model.Game.GamePrice.Price
                                    <sup class="sup-price-cur">РУБ.</sup>
                                </div>
                            </div>
                        }

                    </div>
                    <div class="product-md-block">
                        <a href="javascript: void(0)" class="buy-button no-cart" data-id="@Model.Game.Id">
                            В КОРЗИНУ
                        </a>
                        <div class="product-help">
                            <div class="info-how-activate-key">
                                Как активировать
                            </div>
                            <div class="subscribe-price">
                                Хочу дешевле
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-info--mobile">
                <ul>
                    <li>
                        <div class="product-info-key">Genre</div>
                        <div class="product-info-value">@Model.Game.Genre</div>
                    </li>
                    <li>
                        <div class="product-info-key">Publisher</div>
                        <div class="product-info-value">@Model.Game.Publisher</div>
                    </li>
                    <li>
                        <div class="product-info-key">Developer</div>
                        <div class="product-info-value">@Model.Game.Developer</div>
                    </li>
                    <li>
                        <div class="product-info-key">Features</div>
                        <div class="product-info-value">@Model.Game.Features</div>
                    </li>
                    <li>
                        <div class="product-info-key">Region</div>
                        <div class="product-info-value">@Model.Game.Region</div>
                    </li>
                </ul>
            </div>
            <div class="description">
                @Html.Raw(Model.Game.Description)
            </div>


            <div class="requirements-system">
                <h2>Minimum system requirements</h2>
                <ul>
                    <li>
                        <div class="requirements-system-key">OC</div>
                        <div>@Model.Game.Minimum.MinimumOC</div>
                    </li>
                    <li>
                        <div class="requirements-system-key">CPU</div>
                        <div>@Model.Game.Minimum.MinimumCPU</div>
                    </li>
                    <li>
                        <div class="requirements-system-key">RAM</div>
                        <div>@Model.Game.Minimum.MinimumRAM</div>
                    </li>
                    <li>
                        <div class="requirements-system-key">VideoCard</div>
                        <div>@Model.Game.Minimum.MinimumVideoCard</div>
                    </li>
                    <li>
                        <div class="requirements-system-key">DirectX</div>
                        <div>@Model.Game.Minimum.MinimumDirectX</div>
                    </li>
                    <li>
                        <div class="requirements-system-key">HDD</div>
                        <div>@Model.Game.Minimum.MinimumHDD</div>
                    </li>
                </ul>

                <div id="panel-show-req">
                    <h2>Recommend system requirements</h2>
                    <ul>
                        <li>
                            <div class="requirements-system-key">OC</div>
                            <div>@Model.Game.Recommendation.RecommendOC</div>
                        </li>
                        <li>
                            <div class="requirements-system-key">CPU</div>
                            <div>@Model.Game.Recommendation.RecommendCPU</div>
                        </li>
                        <li>
                            <div class="requirements-system-key">RAM</div>
                            <div>@Model.Game.Recommendation.RecommendRAM</div>
                        </li>
                        <li>
                            <div class="requirements-system-key">VideoCard</div>
                            <div>@Model.Game.Recommendation.RecommendVideoCard</div>
                        </li>
                        <li>
                            <div class="requirements-system-key">DirectX</div>
                            <div>@Model.Game.Recommendation.RecommendDirectX</div>
                        </li>
                        <li>
                            <div class="requirements-system-key">HDD</div>
                            <div>@Model.Game.Recommendation.RecommendHDD</div>
                        </li>
                    </ul>
                </div>
                <div class="show-req-container">
                    <span id="show-req-container__text">ПОКАЗАТЬ РЕКОМЕНДУЕМЫЕ</span>
                    <i id="arrow-show-req" class="arrow arrow-down"></i>
                </div>
            </div>

            <div class="comments">
                <div class="comments__name">
                    Комментарии
                </div>

                @if (User.Identity.IsAuthenticated)
                {
                    <form id="AddMainComment" class="comments__container" asp-action="AddMainComment" asp-controller="Comment" method="post">
                        <div class="comments__container-helper">
                            <input type="number" asp-for="Game.Id" value="@Model.Game.Id" readonly hidden />

                            <div class="comments__avatar" style="cursor: pointer">
                                <a asp-action="Profile" asp-controller="Account"> 
                                    @if (Model.Avatar != null)
                                    {
                                        <img class="profile-avatar-img" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Avatar))" alt="Avatar">
                                    }
                                    else
                                    {
                                        <img class="profile-avatar-img" src="/img/Account/avatar_unk.png" alt="Avatar">
                                    }
                                </a>
                            </div>
                            <div class="comments__tetx-field">
                                <div class="comments__comment-header">
                                    <div class="comments__profile-name">
                                        @Model.Name
                                    </div>
                                </div>
                                <textarea class="comments_textarea" placeholder="Напишите ваш комментарий" asp-for="MainComment.Message"></textarea>
                                <div class="comments__container-btn">
                                    <div id="btn-adding-main-comment" type="submit">Опубликовать</div>
                                </div>
                            </div>
                        </div>
                        <span class="valid-comment" asp-validation-for="MainComment.Message"></span>
                    </form>
                }
                else
                {
                    <div class="comments__login">
                        <a asp-action="Login" asp-controller="Account">Войти</a>
                    </div>
                }


                @foreach (var comment in Model.Game.MainComments.OrderByDescending(item => item.TimeCreated))
                {
                    <ul class="comments__list">
                        <li class="comments__item">
                            <div class="comments__container">
                                <div class="commets__item-comment">
                                    <div class="comments__avatar">
                                        @if (comment.User.Avatar != null)
                                        {
                                            <img class="profile-avatar-img" src="data:image/jpeg;base64,@(Convert.ToBase64String(comment.User.Avatar))" alt="Avatar">
                                        }
                                        else
                                        {
                                            <img class="profile-avatar-img" src="/img/Account/avatar_unk.png" alt="Avatar">
                                        }
                                    </div>
                                    <div class="commnets__item-content">
                                        <div class="comments__comment-header">
                                            <div class="comments__profile-name">@comment.User.Name</div>
                                            @comment.TimeCreated.ToShortDateString(), в @comment.TimeCreated.ToShortTimeString()
                                        </div>
                                        <div class="comments__comment">
                                            @comment.Message
                                        </div>

                                        <div class="commets__reply-rem">
                                            <div class="comments__reply">
                                                Ответить
                                            </div>
                                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                            {
                                                <div class="btn-remove-comment" data-id="@comment.Id">Удалить</div>
                                            }
                                        </div>

                                        <form class="comments__reply-container" asp-action="AddSubComment" asp-controller="Comment" method="post">
                                            <div class="comments__container-helper">
                                                @if (User.Identity.IsAuthenticated)
                                                {
                                                    <input type="number" asp-for="Game.Id" value="@Model.Game.Id" hidden readonly />
                                                    <input type="number" asp-for="MainComment.Id" value="@comment.Id" hidden readonly />
                                                    <textarea class="comments_textarea" placeholder="Напишите ваш ответ" asp-for="MainComment.Message"></textarea>
                                                    <div class="comments__btns-reply">
                                                        <div class="comments__close-textarea">Закрыть</div>
                                                        <div class="comments__btn-reply">Ответить</div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="comments__login">
                                                        <a asp-action="Login" asp-controller="Account">Войти</a>
                                                    </div>
                                                }
                                            </div>
                                            <span class="valid-comment" asp-validation-for="MainComment.Message"></span>
                                        </form>

                                    </div>
                                </div>
                            </div>
                            @foreach (var subComments in comment.SubComments)
                            {
                                <ul class="sub-ul-comment">
                                    <li class="comments__list comments__list--children">
                                        <div class="comments__container">
                                            <div class="commets__item-comment">
                                                <div class="comments__avatar">
                                                    @if (subComments.User.Avatar != null)
                                                    {
                                                        <img class="profile-avatar-img" src="data:image/jpeg;base64,@(Convert.ToBase64String(subComments.User.Avatar))" alt="Avatar">
                                                    }
                                                    else
                                                    {
                                                        <img class="profile-avatar-img" src="/img/Account/avatar_unk.png" alt="Avatar">
                                                    }
                                                </div>
                                                <div class="commnets__item-content">
                                                    <div class="comments__comment-header">
                                                        <div class="comments__profile-name">@subComments.User.Name</div>
                                                        @subComments.TimeCreated.ToShortDateString(), в @subComments.TimeCreated.ToShortTimeString()
                                                    </div>
                                                    <div class="comments__comment">
                                                        @subComments.Message
                                                    </div>
                                                    <div class="commets__reply-rem">
                                                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                                        {
                                                            <div class="btn-remove-sub-comment" data-id="@subComments.Id">Удалить</div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            }
                        </li>
                    </ul>
                }

            </div>
        </div>



        <div class="popup-screenshot" id="popup-screenshot">
            <div class="overlay-popup-screenshot" onclick="toggleScreenshotPopup()"></div>
            <div class="content-screenshots">
                <img src="/img/icon/close_btn.png" class="close-btn" onclick="toggleScreenshotPopup()" />
                <div class="slideshow-screenshot-container">
                    @foreach (var scr in Model.Game.GameScreenshots)
                    {
                        <div class="slide-image fade-anim">
                            <img src="@scr.Screenshot">
                        </div>
                        count++;
                    }

                    <div style="text-align: center">
                        @for (int i = 1; i < count; i++)
                        {
                            <span class="dot" onclick="currentSlide(@i)"></span>
                        }
                    </div>

                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/Game/Game.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/Game/Comment.js"></script>
}

