@model Game_Step.Models.Game

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Style{
    <link href="~/css/Game/Game.css" rel="stylesheet" />
}

<div class="position-relative">
    <img class="product-bg" src="~/img/Warhammer.jpg" alt="@Model.Name" />
</div>

<div class="main-content">
    <div class="product-name">
        <h1>@Model.Name</h1>
    </div>
    <div class="product-content">
        <div class="product-left">
            <div class="scale-img main-img">
                <img class="scale-img" src="@Model.GameImage?.InnerImage" />
            </div>

            <div class="product-advantages-mobile">
                <ul>
                    <li>
                        Наличие: много
                    </li>
                    <li>
                        Моментальная доставка
                    </li>
                    <li>
                        Лицензионный ключ активации в Origin
                    </li>
                    <li>
                        Накопительная скидка до 10%
                    </li>
                </ul>
            </div>

            <div class="product-info">
                <ul>
                    <li>
                        <div class="product-info-key">Genre</div>
                        <div class="product-info-value">@Model.Genre</div>
                    </li>
                    <li>
                        <div class="product-info-key">Publisher</div>
                        <div class="product-info-value">@Model.Publisher</div>
                    </li>
                    <li>
                        <div class="product-info-key">Developer</div>
                        <div class="product-info-value">@Model.Developer</div>
                    </li>
                    <li>
                        <div class="product-info-key">Features</div>
                        <div class="product-info-value">@Model.Features</div>
                    </li>
                    <li>
                        <div class="product-info-key">Region</div>
                        <div class="product-info-value">@Model.Region</div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="product-right">
            <div class="product-header">
                <div class="product-advantages">
                    <ul>
                        <li>
                            Наличие: много
                        </li>
                        <li>
                            Моментальная доставка
                        </li>
                        <li>
                            Лицензионный ключ активации в @Model.WhereKeyActivated
                        </li>
                        <li>
                            Накопительная скидка до 10%
                        </li>
                    </ul>
                </div>
                <div class="product-cart-block">
                    <div class="price-block">
                        @if (Model.GamePrice.IsDiscount)
                        {
                            <div class="price-discount">
                                @Model.GamePrice.Discount%
                            </div>
                            <div class="product-price">

                                <div class="old-price">
                                    @Model.GamePrice.Price руб.
                                </div>
                                <div class="current-price-product">
                                    @Model.GamePrice.DiscountPrice
                                    <sup class="sup-price-cur">РУБ.</sup>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="product-price">
                                <div class="current-price-product">
                                    @Model.GamePrice.Price
                                    <sup class="sup-price-cur">РУБ.</sup>
                                </div>
                            </div>
                        }

                    </div>
                    <div class="product-md-block">
                        <a href="javascript: void(0)" class="buy-button no-cart" data-id="@Model.Id">
                            В КОРЗИНУ
                        </a>
                        <div class="product-help">
                            <div class="info-how-activate-key">
                                Как активировать
                            </div>
                            <div class="subscribe-price">
                                Хочу дешевле
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-info--mobile">
                <ul>
                    <li>
                        <div class="product-info-key">Genre</div>
                        <div class="product-info-value">@Model.Genre</div>
                    </li>
                    <li>
                        <div class="product-info-key">Publisher</div>
                        <div class="product-info-value">@Model.Publisher</div>
                    </li>
                    <li>
                        <div class="product-info-key">Developer</div>
                        <div class="product-info-value">@Model.Developer</div>
                    </li>
                    <li>
                        <div class="product-info-key">Features</div>
                        <div class="product-info-value">@Model.Features</div>
                    </li>
                    <li>
                        <div class="product-info-key">Region</div>
                        <div class="product-info-value">@Model.Region</div>
                    </li>
                </ul>
            </div>
            <div class="description">
                @Html.Raw(Model.Description)
            </div>


            <div class="requirements-system">
                <h2>Minimum system requirements</h2>
                <ul>
                    <li>
                        <div class="requirements-system-key">OC</div>
                        <div>@Model.MinimumOC</div>
                    </li>
                    <li>
                        <div class="requirements-system-key">CPU</div>
                        <div>@Model.MinimumCPU</div>
                    </li>
                    <li>
                        <div class="requirements-system-key">RAM</div>
                        <div>@Model.MinimumRAM</div>
                    </li>
                    <li>
                        <div class="requirements-system-key">VideoCard</div>
                        <div>@Model.MinimumVideoCard</div>
                    </li>
                    <li>
                        <div class="requirements-system-key">DirectX</div>
                        <div>@Model.MinimumDirectX</div>
                    </li>
                    <li>
                        <div class="requirements-system-key">HDD</div>
                        <div>@Model.MinimumHDD</div>
                    </li>
                </ul>

                <div id="panel-show-req">
                    <h2>Recommend system requirements</h2>
                    <ul>
                        <li>
                            <div class="requirements-system-key">OC</div>
                            <div>@Model.MinimumOC</div>
                        </li>
                        <li>
                            <div class="requirements-system-key">CPU</div>
                            <div>@Model.MinimumCPU</div>
                        </li>
                        <li>
                            <div class="requirements-system-key">RAM</div>
                            <div>@Model.MinimumRAM</div>
                        </li>
                        <li>
                            <div class="requirements-system-key">VideoCard</div>
                            <div>@Model.MinimumVideoCard</div>
                        </li>
                        <li>
                            <div class="requirements-system-key">DirectX</div>
                            <div>@Model.MinimumDirectX</div>
                        </li>
                        <li>
                            <div class="requirements-system-key">HDD</div>
                            <div>@Model.MinimumHDD</div>
                        </li>
                    </ul>
                </div>
                <div class="btn-show-req">ПОКАЗАТЬ РЕКОМЕНДУЕМЫЕ<i id="arrow-show-req" class="arrow arrow-down"></i></div>
            </div>
        </div>
        <div id="show-popup-screenshot"></div>

        <div class="call-popup-screenshot">Call</div>
    </div>
</div>

@section Scripts{
    <script src="~/js/Game/Game.js"></script>

    <script>
        $(document).ready(function () {
            $(".call-popup-screenshot").click(function () {
                $.ajax({
                    url: window.location.origin + "/GameScreenshot/CallScreenshotPopup",
                    type: "Get",
                    success: function (result) {
                        $("#show-popup-screenshot").html(result);

                        $("#popup-screenshot").attr("class", "popup-screenshot screenshot-active");
                    },
                });
            });
        });
    </script>
}
