@model IEnumerable<Game_Step.Models.Game>

@{
    ViewBag.Title = "Games";
}

<div class="container">
    <a asp-action="Create" asp-controller="Game">Create</a>

    @foreach (var item in Model)
    {
        <div class="col-md-12">
            <div class="col-md-12">
                Name - @item.Name
            </div>
            <div class="col-md-12">
                Minimum - @item.MinimumOC
            </div>
            <div class="col-md-12">
                Recommend - @item.RecommendOC
            </div>
            <div>
                Gener - @item.Genre
            </div>



            <a asp-action="Read" asp-controller="Game" asp-route-id="@item.Id">Read</a>
            <a asp-action="Update" asp-controller="Game" asp-route-id="@item.Id">Update</a>
            <a asp-action="Delete" asp-controller="Game" asp-route-id="@item.Id">Delete</a>
            <a asp-action="Game" asp-controller="Game" asp-route-id="@item.Id">Game page</a>
            <a asp-action="Update" asp-controller="GameScreenshot" asp-route-id="@item.Id">Screenshots</a>
        </div>
    }
</div>


