@model Game_Step.Models.Game

@{
    ViewBag.Title = "Info about " + Model.Name;
}

<div class="container">
    <div class="col-md-12 mb-1">
        Article - @Model.Article
    </div>
    <div class="col-md-12 mb-1">
        Name - @Model.Name
    </div>
    <div class="col-md-12 mb-1">
        Description - @Model.Description
    </div>
    <div class="col-md-12 mb-1">
        Genre - @Model.Genre
    </div>
    <div class="col-md-12 mb-1">
        Language - @Model.Language
    </div>
    <div class="col-md-12 mb-1">
        Release data - @Model.ReleaseDate
    </div>
    <div class="col-md-12 mb-1">
        Publisher - @Model.Publisher
    </div>
    <div class="col-md-12 mb-1">
        Developer - @Model.Developer
    </div>
    <div class="col-md-12 mb-1">
        Features - @Model.Features
    </div>
    <div class="col-md-12 mb-1">
        Region - @Model.Region
    </div>
    <div class="col-md-12 mb-1">
        Where ket activated - @Model.WhereKeyActivated
    </div>

    <div class="col-md-12 mb-1">
        Minimum System Requirements
    </div>
    <div class="col-md-12 mb-1">
        OC - @Model.MinimumOC
    </div>
    <div class="col-md-12 mb-1">
        CPU - @Model.MinimumCPU
    </div>
    <div class="col-md-12 mb-1">
        RAM - @Model.MinimumRAM
    </div>
    <div class="col-md-12 mb-1">
        Video card - @Model.MinimumVideoCard
    </div>
    <div class="col-md-12 mb-1">
        DirectX - @Model.MinimumDirectX
    </div>
    <div class="col-md-12 mb-1">
        HDD - @Model.MinimumHDD
    </div>

    <div class="col-md-12 mb-1">
        Recommended System Requirements
    </div>
    <div class="col-md-12 mb-1">
        OC - @Model.RecommendOC
    </div>
    <div class="col-md-12 mb-1">
        CPU - @Model.RecommendCPU
    </div>
    <div class="col-md-12 mb-1">
        RAM - @Model.RecommendRAM
    </div>
    <div class="col-md-12 mb-1">
        Video card - @Model.RecommendVideoCard
    </div>
    <div class="col-md-12 mb-1">
        DirectX - @Model.RecommendDirectX
    </div>
    <div class="col-md-12 mb-1">
        HDD - @Model.RecommendHDD
    </div>
</div>

