@model Game_Step.Models.Game

@{
    ViewBag.Title = "Read";
}
<div class="col-md-12 mb-1">
    Article - @Model.Article
</div>
<div class="col-md-12 mb-1">
    Name - @Model.Name
</div>
<div class="col-md-12 mb-1">
    Genre - @Model.Genre
</div>
<div class="col-md-12 mb-1">
    Language - @Model.Language
</div>
<div class="col-md-12 mb-1">
    Release data - @Model.ReleaseDate
</div>
<div class="col-md-12 mb-1">
    Publisher - @Model.Publisher
</div>
<div class="col-md-12 mb-1">
    Developer - @Model.Developer
</div>
<div class="col-md-12 mb-1">
    Features - @Model.Features
</div>
<div class="col-md-12 mb-1">
    Region - @Model.Region
</div>
<div class="col-md-12 mb-1">
    Where ket activated - @Model.WhereKeyActivated
</div>


<div class="col-md-12 mb-1">
    Minimum System Requirements
</div>
<div class="col-md-12 mb-1">
    OC - @Model.MinSysReq.OC
</div>
<div class="col-md-12 mb-1">
    CPU - @Model.MinSysReq.CPU
</div>
<div class="col-md-12 mb-1">
    RAM - @Model.MinSysReq.RAM
</div>
<div class="col-md-12 mb-1">
    Video card - @Model.MinSysReq.VideoCard
</div>
<div class="col-md-12 mb-1">
    DirectX - @Model.MinSysReq.DirectX
</div>
<div class="col-md-12 mb-1">
    HDD - @Model.MinSysReq.HDD
</div>

<div class="col-md-12 mb-1">
    Recommended System Requirements
</div>
<div class="col-md-12 mb-1">
    OC - @Model.RecSysReq.OC
</div>
<div class="col-md-12 mb-1">
    CPU - @Model.RecSysReq.CPU
</div>
<div class="col-md-12 mb-1">
    RAM - @Model.RecSysReq.RAM
</div>
<div class="col-md-12 mb-1">
    Video card - @Model.RecSysReq.VideoCard
</div>
<div class="col-md-12 mb-1">
    DirectX - @Model.RecSysReq.DirectX
</div>
<div class="col-md-12 mb-1">
    HDD - @Model.RecSysReq.HDD
</div>