@model Game_Step.ViewModels.CartOrderViewModel

@{
    ViewBag.Title = "Корзина покупок";
    bool isItemInCart = false;
}

@section Style {
    <link href="/css/Cart/Cart.css" rel="stylesheet" />
}

<div class="main-content">
    <div class="cart-content">
        <a class="logo" asp-action="Index" asp-controller="Home">Game Step</a>
        <div class="info-block">Корзина</div>


        <div class="catalog-item">
            <form asp-action="Order" asp-controller="Order" method="post">
                <div asp-validation-summary="ModelOnly"></div>
                @if (TempData["Error"] != null)
                {
                    <div class="display-error">
                        @TempData["Error"]
                    </div>
                }

                @foreach (var game in Model.GameInCart)
                {
                    isItemInCart = true;
                    <div class="product-in-cart">
                        <div class="block-img-catalog-item">
                            <a asp-action="Game" asp-controller="Game" asp-route-id="@game.Id">
                                <img class="img-catalog-item" src="@game.GameImage.ImageInCatalog" alt="game image"><img />
                            </a>
                        </div>

                        <div class="catalog-item-info">
                            <div class="name-product">@game.Name</div>
                            <div class="more-info">
                                <div class="where-activate-product">
                                    @if (game.WhereKeyActivated == "Steam")
                                    {
                                        <img src="/img/Game/logo/steam.png" alt="@game.WhereKeyActivated">
                                    }
                                    else if (game.WhereKeyActivated == "GOG")
                                    {
                                        <img src="/img/Game/logo/GOG.png" alt="@game.WhereKeyActivated">
                                    }
                                    else if (game.WhereKeyActivated == "Origin")
                                    {
                                        <img src="/img/Game/logo/origin.png" alt="@game.WhereKeyActivated">
                                    }
                                    else if (game.WhereKeyActivated == "Epic Games Store")
                                    {
                                        <img src="/img/Game/logo/epic_games.png" alt="@game.WhereKeyActivated">
                                    }
                                </div>
                                <div class="genre-region">Регион: @game.Region</div>
                            </div>
                        </div>
                        <div class="item-price">
                            <div class="block-input-quantity">
                                <button type="button" class="btnMinus">-</button>

                                <input class="input-quantity-product" type="number" max="5" min="1" value="1"
                                       readonly data-id="@game.Id" name="Items[@game.Id]">

                                <button type="button" class="btnPlus">+</button>
                            </div>

                            <div class="cur-price-item">
                                @if (game.GamePrice.IsDiscount)
                                {
                                    <div class="prod-price" id="@game.Id">@game.GamePrice.DiscountPrice</div><span>$</span>
                                }
                                else
                                {
                                    <div class="prod-price" id="@game.Id">@game.GamePrice.Price</div><span>$</span>
                                }
                            </div>

                            <img class="remove-from-cart" src="img/Cart/remove.png" alt="remove" del-data-id="@game.Id">
                        </div>
                    </div>
                }
                @if (isItemInCart)
                {
                    <div class="final-price">
                        Итого: 0$
                    </div>
                    <div class="payment-method">
                        <span>Способ оплаты</span>
                        <div class="choise-payment-method">
                            <select class="select-payment-method" asp-for="@Model.PaymentMethod">
                                <option value="WebMoney">WebMoney</option>
                                <option value="PayPal">PayPal</option>
                            </select>
                        </div>
                    </div>

                    <div class="container-promocode">
                        <span>У вас есть промо-код?</span>
                        <div class="container-input-promocode">
                            <input class="input-promocode" type="text" placeholder="Promocode" asp-for="Promocode">

                            <div class="btn-promocode">
                                Применить
                            </div>

                        </div>
                    </div>

                    <div class="container-email">
                        <span id="email-span">Email</span>
                        <input class="input-email" type="text" placeholder="Введите Email" asp-for="@Model.Email">
                        <input class="input-email" type="text" placeholder="Повторите Email" asp-for="@Model.EmailCompare">
                    </div>

                    <div class="container-agreement">
                        <input class="checkbox-agreement" type="checkbox" id="agreementUser" asp-for="@Model.UserAgreement">

                        <div>
                            Я ознакомлен с пользовательским соглашением, описанием товара и региональными ограничениями,
                            политикой конфиденциальности и даю согласие на обработку персональных данных.
                        </div>
                    </div>


                    <input class="btn-further" id="btnFurtherOrder" type="submit" disabled="disabled" value="Далее">

                }
                else
                {
                    <div class="cart-is-empty">Корзина пуста:(</div>
                }
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/Cart/Cart.js"></script>
} 