@model Game_Step.ViewModels.GamesViewModel.GamesScreenshotViewModel

@{ 
    ViewBag.Title = "Скриншоты " + Model.Name;
}

@section Style{ 
    <link href="~/css/Game/GameScreenshot.css" rel="stylesheet" />
}

<div class="main-content">
    <div class="content">
        <div class="info-about-game">
            <div class="info-about-game__name-game">Скриншоты игры @Model.Name</div>
            <a href="">
                <img class="info-about-game__img" src="@Model.PathImage" alt="">
            </a>
        </div>

        <div class="container-button-add">
            <div class="button-add">
                Добавить
            </div>
        </div>

        <div class="container-with-screenshots">
            @foreach (var scrennshot in Model.GameScreenshotsList)
            {
                <div class="container-screnshot">
                    <img class="screenshot" src="@scrennshot.Screenshot">
                    <div class="container-info-screenshot">
                        <div class="path-to-screnshot">
                            <div class="info-screenshot">
                                <span>Путь к файлу:</span>
                                @scrennshot.Screenshot
                            </div>
                        </div>
                        <div class="container-buttons">
                            <div class="del-button" data-id="@scrennshot.Id">
                                Удалить
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{ 
    <script>
        $(document).ready(function () {
            $(".del-button").click(function () {
                let getId = $(this).attr('data-id');
                $.ajax({
                    url: window.location.origin + "/GameScreenshot/Delete",
                    type: "Get",
                    data: { 'id': getId },
                    success: function (result) {
                        location.reload();
                    }, 
                });
                
            });
        });
    </script>
}