@model Game_Step.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "Game Step";

    int counter = 0;

}

@section Style{
    <link href="/css/HomePage/HomePage.css" rel="stylesheet" />
    <link href="~/css/HomePage/SectionCategory.css" rel="stylesheet" />
    <link href="~/css/HomePage/SectionCelendarRelease.css" rel="stylesheet" />
    <link href="~/css/HomePage/SectionPopular.css" rel="stylesheet" />
    <link href="~/css/HomePage/SectionPriceReduction.css" rel="stylesheet" />
}

<div class="main-content">
    <div class="block-slider">
        <div>
            dd
        </div>
    </div>
    <div class="product-content">
        <div class="main-page-catalog">
            <div class="main-tabs">
                <ul class="tabs">
                    <li class="item-tabs" catalog="catalog1">
                        Новинки
                    </li>

                    <li class="item-tabs item-tabs-active" catalog="catalog2">
                        Лидеры продажи
                    </li>

                    <li class="item-tabs" catalog="catalog3">
                        Ожидаемые
                    </li>
                </ul>
            </div>

            <div class="catalog">
                <div class="catalog-novetly">
                    @foreach (var g in Model.Games.OrderByDescending(item => item.Name))
                    {
                        @if (counter == 8)
                        {
                            counter = 0;
                            break;
                        }
                        <a class="catalog-item" asp-action="Game" asp-controller="Game" asp-route-id="@g.Id">
                            <div class="block-img-catalog-item">
                                <img class="img-catalog-item" src="@g.GameImage?.ImageInCatalog"><img />
                            </div>

                            <div class="catalog-item-info">
                                <div class="name-product">@g.Name</div>
                                <div class="more-info">
                                    <div class="where-activate-product">
                                        @if (g.WhereKeyActivated == "Steam")
                                        {
                                            <img src="/img/Game/logo/steam.png" alt="@g.WhereKeyActivated">
                                        }
                                        else if (g.WhereKeyActivated == "GOG")
                                        {
                                            <img src="/img/Game/logo/GOG.png" alt="@g.WhereKeyActivated">
                                        }
                                        else if (g.WhereKeyActivated == "Origin")
                                        {
                                            <img src="/img/Game/logo/origin.png" alt="@g.WhereKeyActivated">
                                        }
                                        else if (g.WhereKeyActivated == "Epic Games Store")
                                        {
                                            <img src="/img/Game/logo/epic_games.png" alt="@g.WhereKeyActivated">
                                        }
                                    </div>
                                    <div class="genre-product"> Экшены, RPG</div>
                                </div>
                            </div>

                            <div class="item-price">
                                @if (g.GamePrice.IsDiscount)
                                {
                                    <div class="discount-item">
                                        -@g.GamePrice.Discount%
                                    </div>
                                    <div class="cur-price-item">
                                        @g.GamePrice.DiscountPrice $.
                                    </div>
                                }
                                else
                                {
                                    <div class="cur-price-item">
                                        @g.GamePrice.Price $.
                                    </div>
                                }
                            </div>
                        </a>
                        counter++;
                    }
                    <a class="catalog-item-more-games" href="">
                        ЕЩЕ 4234 ИГР
                    </a>
                </div>

                <div class="catalog-leaders-sells">
                    @foreach (var g in Model.Games.OrderBy(item => item.Name))
                    {
                        @if (counter == 8)
                        {
                            counter = 0;
                            break;
                        }
                        <a class="catalog-item" asp-action="Game" asp-controller="Game" asp-route-id="@g.Id">
                            <div class="block-img-catalog-item">
                                <img class="img-catalog-item" src="@g.GameImage?.ImageInCatalog"><img />
                            </div>

                            <div class="catalog-item-info">
                                <div class="name-product">@g.Name</div>
                                <div class="more-info">
                                    <div class="where-activate-product">
                                        @if (g.WhereKeyActivated == "Steam")
                                        {
                                            <img src="/img/Game/logo/steam.png" alt="@g.WhereKeyActivated">
                                        }
                                        else if (g.WhereKeyActivated == "GOG")
                                        {
                                            <img src="/img/Game/logo/GOG.png" alt="@g.WhereKeyActivated">
                                        }
                                        else if (g.WhereKeyActivated == "Origin")
                                        {
                                            <img src="/img/Game/logo/origin.png" alt="@g.WhereKeyActivated">
                                        }
                                        else if (g.WhereKeyActivated == "Epic Games Store")
                                        {
                                            <img src="/img/Game/logo/epic_games.png" alt="@g.WhereKeyActivated">
                                        }
                                    </div>
                                    <div class="genre-product"> Экшены, RPG</div>
                                </div>
                            </div>

                            <div class="item-price">
                                @if (g.GamePrice.IsDiscount)
                                {
                                    <div class="discount-item">
                                        -@g.GamePrice.Discount%
                                    </div>
                                    <div class="cur-price-item">
                                        @g.GamePrice.DiscountPrice $.
                                    </div>
                                }
                                else
                                {
                                    <div class="cur-price-item">
                                        @g.GamePrice.Price $.
                                    </div>
                                }
                            </div>
                        </a>
                        counter++;
                    }


                    <a class="catalog-item-more-games" href="">
                        ЕЩЕ 4234 ИГР
                    </a>
                </div>
                <div class="catalog-expected">
                    @foreach (var g in Model.Games.OrderByDescending(item => item.QuantityOfGoods))
                    {
                        @if (counter == 8)
                        {
                            counter = 0;
                            break;
                        }
                        <a class="catalog-item" asp-action="Game" asp-controller="Game" asp-route-id="@g.Id">
                            <div class="block-img-catalog-item">
                                <img class="img-catalog-item" src="@g.GameImage?.ImageInCatalog"><img />
                            </div>

                            <div class="catalog-item-info">
                                <div class="name-product">@g.Name</div>
                                <div class="more-info">
                                    <div class="where-activate-product">
                                        @if (g.WhereKeyActivated == "Steam")
                                        {
                                            <img src="/img/Game/logo/steam.png" alt="@g.WhereKeyActivated">
                                        }
                                        else if (g.WhereKeyActivated == "GOG")
                                        {
                                            <img src="/img/Game/logo/GOG.png" alt="@g.WhereKeyActivated">
                                        }
                                        else if (g.WhereKeyActivated == "Origin")
                                        {
                                            <img src="/img/Game/logo/origin.png" alt="@g.WhereKeyActivated">
                                        }
                                        else if (g.WhereKeyActivated == "Epic Games Store")
                                        {
                                            <img src="/img/Game/logo/epic_games.png" alt="@g.WhereKeyActivated">
                                        }
                                    </div>
                                    <div class="genre-product"> Экшены, RPG</div>
                                </div>
                            </div>

                            <div class="item-price">
                                @if (g.GamePrice.IsDiscount)
                                {
                                    <div class="discount-item">
                                        -@g.GamePrice.Discount%
                                    </div>
                                    <div class="cur-price-item">
                                        @g.GamePrice.DiscountPrice $.
                                    </div>
                                }
                                else
                                {
                                    <div class="cur-price-item">
                                        @g.GamePrice.Price $.
                                    </div>
                                }
                            </div>
                        </a>
                        counter++;
                    }
                    <a class="catalog-item-more-games" href="">
                        ЕЩЕ 4234 ИГР
                    </a>
                </div>
            </div>
        </div>

        <div class="main-aside">
            <div class="product-with-discount">
                <div class="info-sicount-product-aside">
                    Скидки
                    <sup>от 40%</sup>
                </div>
                @foreach (var g in Model.Games.Where(item => item.GamePrice.Discount >= 40))
                {
                    @if (counter == 4)
                    {
                        counter = 0;
                        break;
                    }
                    <a asp-action="Game" asp-controller="Game" asp-route-id="@g.Id" class="discount-product-aside">
                        <div class="discount-product-aside-img">
                            <img src="@g.GameImage?.ImageInCatalog" alt="@g.Name">
                        </div>

                        <div class="discount-product-aside-name">@g.Name</div>
                        <div class="discount-product-aside-price">
                            @if (g.GamePrice.IsDiscount)
                            {
                                <div class="discount-prod-aside">
                                    <span>-@g.GamePrice.Discount%</span>
                                </div>
                                <div class="aside-cur-price">
                                    @g.GamePrice.DiscountPrice <span>$</span>
                                </div>
                            }
                            else
                            {
                                <div class="aside-cur-price">
                                    @g.GamePrice.Price<span>$</span>
                                </div>
                            }
                        </div>
                    </a>
                    counter++;
                }

                <a class="more-discount-product-aside" href="">
                    ЕЩЕ 3124 ИГР
                </a>
            </div>

            <div class="last-sell">
                <div class="last-sell-info">
                    Последние продажи
                </div>
                @foreach (var g in Model.Games.OrderByDescending(item => item.Publisher))
                {
                    @if (counter == 4)
                    {
                        counter = 0;
                        break;
                    }
                    <a asp-action="Game" asp-controller="Game" asp-route-id="@g.Id" class="discount-product-aside">
                        <div class="discount-product-aside-img">
                            <img src="@g.GameImage?.ImageInCatalog" alt="@g.Name">
                        </div>

                        <div class="discount-product-aside-name">@g.Name</div>
                        <div class="discount-product-aside-price">
                            @if (g.GamePrice.IsDiscount)
                            {
                                <div class="discount-prod-aside">
                                    <span>-@g.GamePrice.Discount%</span>
                                </div>
                                <div class="aside-cur-price">
                                    @g.GamePrice.DiscountPrice <span>$</span>
                                </div>
                            }
                            else
                            {
                                <div class="aside-cur-price">
                                    @g.GamePrice.Price<span>$</span>
                                </div>
                            }
                        </div>
                    </a>
                    counter++;
                }
            </div>
        </div>
    </div>
</div>


<div class="main-content-category">
    <div class="container-category">
        <div class="container-category__name">
            Категории
        </div>
        <ul class="list-categorys">
            @foreach (var ct in Model.Categories)
            {
                <li class="list-categorys__list-item">
                    <a class="list-categorys__item" href="#">
                        <div class="list-categorys__item-image">
                            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(ct.Image))" alt="">
                        </div>
                        <div class="list-categorys__item-title">
                            @ct.Name
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>

<section class="release-calendar">
    <div class="container-release-calendar">
        <div class="container-release-calendar__name">
            Календарь релизов
        </div>
        <div class="conrainer-preorders-games">
            @foreach (var g in Model.Games.OrderByDescending(item => item.ReleaseDate))
            {
                if (counter == 4)
                {
                    counter = 0;
                    break;
                }
                <div class="conrainer-preorders-games__game">
                    <a asp-action="Game" asp-controller="Game" asp-route-id="@g.Id">
                        <img class="preorders__game-image" src="@g.GameImage.InnerImage" alt="">
                    </a>
                    <div class="preorders__game-data-release">
                        7 Мая 2021
                    </div>
                </div>
                counter++;
            }
        </div>
    </div>
</section>

<section class="popular">
    <div class="container-fluid-popular">
        <div class="popular__header">
            <div class="popular__title">Популярные игры</div>
            <div class="popular__header-content">
                <ul class="populat__header-tabs">
                    <li>Все</li>
                    <li>До 100 руб</li>
                    <li>До 300 руб</li>
                    <li>До 500 руб</li>
                    <li>До 800 руб</li>
                </ul>
            </div>
        </div>
        <ul class="popular__list">
            @foreach (var g in Model.Games.OrderBy(item => item.QuantityOfGoods))
            {
                if (counter == 8)
                {
                    counter = 0;
                    break;
                }
                <li>
                    <a class="game__a" asp-action="Game" asp-controller="Game" asp-route-id="@g.Id">
                        <div class="game__image">
                            <img src="@g.GameImage.MainImage" alt="">
                        </div>
                        <div class="game__desc">
                            <div class="game__container-price">
                                @if (g.GamePrice.IsDiscount)
                                {
                                    <div class="game__price">@g.GamePrice.DiscountPrice</div>
                                    <div class="game_discount">-@g.GamePrice.Discount %</div>
                                }
                                else
                                {
                                    <div class="game__price">@g.GamePrice.Price</div>
                                }
                            </div>
                        </div>
                    </a>
                </li>
                counter++;
            }
        </ul>
    </div>
</section>


<section class="price-reduction">
    <div class="container-fluid-popular">
        <div class="popular__header">
            <div class="popular__title">Снижение цен</div>
        </div>
        <ul class="popular__list">
            @foreach (var g in Model.Games.OrderByDescending(item => item.WhereKeyActivated))
            {
                if (counter == 4)
                {
                    counter = 0;
                    break;
                }
                <li>
                    <a class="game__a" asp-action="Game" asp-controller="Game" asp-route-id="@g.Id">
                        <div class="game__image-prc-red">
                            <img src="@g.GameImage.MainImage" alt="">
                        </div>
                        <div class="game__desc">
                            <div class="game__container-price">
                                @if (g.GamePrice.IsDiscount)
                                {
                                    <div class="game__price">@g.GamePrice.DiscountPrice</div>
                                    <div class="game_discount">-@g.GamePrice.Discount %</div>
                                }
                                else
                                {
                                    <div class="game__price">@g.GamePrice.Price</div>
                                }
                            </div>
                        </div>
                    </a>
                </li>
                counter++;
            }
        </ul>
    </div>
</section>

<section class="about-us">
    <div class="container-fluid-popular">
        <div class="about-us__name">
            Что такое Гейм Стип?
        </div>
        <div class="about-us__text">
            <p>
                В нашем интернет-магазине вы сможете гарантированно приобрести ключи
                к играм от Steam, Uplay, Battle.net и прочих популярных игровых платформ.
                Наш магазин делает все для того, чтобы ваши покупки проходили быстро,
                с максимальным удобством и безопасностью, а цены оставались максимально доступными.
            </p>

            <p>
                Для покупки достаточно лишь указать электронный адрес при оформлении заказа и выбрать
                удобный способ оплаты. После этого Вам на почту придет пароль доступа в личный кабинет,
                в котором Вы получите ключ активации.
            </p>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/js/HomePage/HomePage.js"></script>
}