@model IEnumerable<Game_Step.Models.Game>

@{
    ViewBag.Title = "Game Step";

    int counter = 0;
}

@section Style{
    <link href="/css/HomePage/HomePage.css" rel="stylesheet" />
}

<div class="main-content">
    <div class="block-slider">
        <div>
            dd
        </div>
    </div>
    <div class="product-content">
        <div class="main-page-catalog">
            <div class="main-tabs">
                <ul class="tabs">
                    <li class="item-tabs" catalog="catalog1"><a href="javascript: void(0)">Новинки</a></li>
                    <li class="item-tabs item-tabs-active" catalog="catalog2"><a href="javascript: void(0)">Лидеры продажи</a></li>
                    <li class="item-tabs" catalog="catalog3"><a href="javascript: void(0)">Ожидаемые</a></li>
                </ul>
            </div>

            <div class="catalog">
                <div class="catalog-novetly">
                    @foreach (var m in Model.OrderBy(item => item.Name))
                    {
                        @if (counter == 8)
                        {
                            counter = 0;
                            break;
                        }
                        <a class="catalog-item">
                            <div class="block-img-catalog-item">
                                <img class="img-catalog-item" src="https://i.pinimg.com/originals/61/e7/8b/61e78b08a8dd18779132812218a9f2a8.jpg"><img />
                            </div>

                            <div class="catalog-item-info">
                                <div class="name-product">@m.Name</div>
                                <div class="more-info">
                                    <div class="where-activate-product">
                                        <img src="~/img/steam.png" alt="Steam">
                                    </div>
                                    <div class="genre-product"> Экшены, RPG</div>
                                </div>
                            </div>
                            <div class="item-price">
                                <div class="discount-item">
                                    -36%
                                </div>
                                <div class="cur-price-item">
                                    @m.Price $.
                                </div>
                            </div>
                        </a>
                        counter++;
                    }

                    <a class="catalog-item-more-games" href="">
                        ЕЩЕ 4234 ИГР
                    </a>
                </div>
                <div class="catalog-leaders-sells">
                    @foreach (var m in Model)
                    {
                        @if (counter == 8)
                        {
                            counter = 0;
                            break;
                        }
                        <a class="catalog-item" asp-action="Game" asp-controller="Game" asp-route-id="@m.Id">
                            <div class="block-img-catalog-item">
                                @if (m.Image != null)
                                {
                                    <img class="img-catalog-item" src="data:image/jpeg;base64,@(Convert.ToBase64String(m.Image))"><img />
                                }
                                else
                                {
                                    <img class="img-catalog-item" src="https://i.pinimg.com/originals/61/e7/8b/61e78b08a8dd18779132812218a9f2a8.jpg"><img />
                                }
                            </div>

                            <div class="catalog-item-info">
                                <div class="name-product">@m.Name</div>
                                <div class="more-info">
                                    <div class="where-activate-product">
                                        <img src="~/img/steam.png" alt="Steam">
                                    </div>
                                    <div class="genre-product"> Экшены, RPG</div>
                                </div>
                            </div>
                            <div class="item-price">
                                <div class="discount-item">
                                    -36%
                                </div>
                                <div class="cur-price-item">
                                    @m.Price $.
                                </div>
                            </div>
                        </a>
                        counter++;
                    }

                    <a class="catalog-item-more-games" href="">
                        ЕЩЕ 4234 ИГР
                    </a>
                </div>
                <div class="catalog-expected">
                    @foreach (var m in Model.OrderBy(item => item.Price))
                    {
                        @if (counter == 8)
                        {
                            counter = 0;
                            break;
                        }
                        <a class="catalog-item">
                            <div class="block-img-catalog-item">
                                <img class="img-catalog-item" src="https://i.pinimg.com/originals/61/e7/8b/61e78b08a8dd18779132812218a9f2a8.jpg"><img />
                            </div>

                            <div class="catalog-item-info">
                                <div class="name-product">@m.Name</div>
                                <div class="more-info">
                                    <div class="where-activate-product">
                                        <img src="~/img/steam.png" alt="Steam">
                                    </div>
                                    <div class="genre-product"> Экшены, RPG</div>
                                </div>
                            </div>
                            <div class="item-price">
                                <div class="discount-item">
                                    -36%
                                </div>
                                <div class="cur-price-item">
                                    @m.Price $.
                                </div>
                            </div>
                        </a>
                        counter++;
                    }

                    <a class="catalog-item-more-games" href="">
                        ЕЩЕ 4234 ИГР
                    </a>
                </div>
            </div>

        </div>
        <div class="main-aside">
            <div class="product-with-discount">
                <div class="info-sicount-product-aside">
                    Скидки
                    <sup>от 40%</sup>
                </div>
                @foreach (var g in Model)
                {
                    @if (counter == 4)
                    {
                        counter = 0;
                        break;
                    }
                    <a href="" class="discount-product-aside">
                        <div class="discount-product-aside-img">
                            <img src="https://i.pinimg.com/originals/61/e7/8b/61e78b08a8dd18779132812218a9f2a8.jpg" alt="xxx">
                        </div>

                        <div class="discount-product-aside-name">Fallout 4 </div>
                        <div class="discount-product-aside-price">
                            <div class="discount-prod-aside">
                                <span>-32%</span>
                            </div>
                            435 $.
                        </div>
                    </a>
                    counter++;
                }

                <a class="more-discount-product-aside" href="">
                    ЕЩЕ 3124 ИГР
                </a>
            </div>

            <div class="last-sell">
                <div class="last-sell-info">
                    Последние продажи
                </div>
                @foreach (var g in Model)
                {
                    @if (counter == 4)
                    {
                        counter = 0;
                        break;
                    }
                    <a href="" class="discount-product-aside">
                        <div class="discount-product-aside-img">
                            <img src="https://i.pinimg.com/originals/61/e7/8b/61e78b08a8dd18779132812218a9f2a8.jpg" alt="xxx">
                        </div>

                        <div class="discount-product-aside-name">Fallout 4 </div>
                        <div class="discount-product-aside-price">
                            <div class="discount-prod-aside">
                                <span>-32%</span>
                            </div>
                            435 $.
                        </div>
                    </a>
                    counter++;
                }
            </div>
        </div>
    </div>
</div>

<div class="category-block">
    <div class="product-content">
        <ul class="category-list">
            <li class="main-categories-list-item">
                <a class="main-category-item" href="">
                    <div class="main-categories-item-image">
                        <img src="https://i.pinimg.com/originals/61/e7/8b/61e78b08a8dd18779132812218a9f2a8.jpg" alt="">
                    </div>
                    <div class="main-category-title">
                        Zombie
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

@section Scripts{
    <script src="~/js/HomePage/HomePage.js"></script>

}