@model IEnumerable<Game_Step.Models.Game>

@{
    ViewBag.Title = "Game Step";

    int counter = 0;

}

@section Style{
    <link href="/css/HomePage/HomePage.css" rel="stylesheet" />
    <link href="~/css/HomePage/SectionCategory.css" rel="stylesheet" />
    <link href="~/css/HomePage/SectionCelendarRelease.css" rel="stylesheet" />
}

<div class="main-content">
    <div class="block-slider">
        <div>
            dd
        </div>
    </div>
    <div class="product-content">
        <div class="main-page-catalog">
            <div class="main-tabs">
                <ul class="tabs">
                    <li class="item-tabs" catalog="catalog1">
                        Новинки
                    </li>

                    <li class="item-tabs item-tabs-active" catalog="catalog2">
                        Лидеры продажи
                    </li>

                    <li class="item-tabs" catalog="catalog3">
                        Ожидаемые
                    </li>
                </ul>
            </div>

            <div class="catalog">
                <div class="catalog-novetly">
                    @foreach (var m in Model.OrderBy(item => item.ReleaseDate))
                    {
                        @if (counter == 8)
                        {
                            counter = 0;
                            break;
                        }
                        <a class="catalog-item" asp-action="Game" asp-controller="Game" asp-route-id="@m.Id">
                            <div class="block-img-catalog-item">
                                <img class="img-catalog-item" src="@m.GameImage?.ImageInCatalog"><img />
                            </div>

                            <div class="catalog-item-info">
                                <div class="name-product">@m.Name</div>
                                <div class="more-info">
                                    <div class="where-activate-product">
                                        @if (m.WhereKeyActivated == "Steam")
                                        {
                                            <img src="/img/Game/logo/steam.png" alt="@m.WhereKeyActivated">
                                        }
                                        else if (m.WhereKeyActivated == "GOG")
                                        {
                                            <img src="/img/Game/logo/GOG.png" alt="@m.WhereKeyActivated">
                                        }
                                        else if (m.WhereKeyActivated == "Origin")
                                        {
                                            <img src="/img/Game/logo/origin.png" alt="@m.WhereKeyActivated">
                                        }
                                        else if (m.WhereKeyActivated == "Epic Games Store")
                                        {
                                            <img src="/img/Game/logo/epic_games.png" alt="@m.WhereKeyActivated">
                                        }
                                    </div>
                                    <div class="genre-product"> Экшены, RPG</div>
                                </div>
                            </div>
                            <div class="item-price">
                                @if (m.GamePrice.IsDiscount)
                                {
                                    <div class="discount-item">
                                        -@m.GamePrice.Discount%
                                    </div>
                                    <div class="cur-price-item">
                                        @m.GamePrice.DiscountPrice $.
                                    </div>
                                }
                                else
                                {
                                    <div class="cur-price-item">
                                        @m.GamePrice.Price $.
                                    </div>
                                }
                            </div>
                        </a>
                        counter++;
                    }


                    <a class="catalog-item-more-games" href="">
                        ЕЩЕ 4234 ИГР
                    </a>
                </div>
                <div class="catalog-leaders-sells">
                    @foreach (var m in Model.OrderBy(item => item.Name))
                    {
                        @if (counter == 8)
                        {
                            counter = 0;
                            break;
                        }
                        <a class="catalog-item" asp-action="Game" asp-controller="Game" asp-route-id="@m.Id">
                            <div class="block-img-catalog-item">
                                <img class="img-catalog-item" src="@m.GameImage?.ImageInCatalog"><img />
                            </div>

                            <div class="catalog-item-info">
                                <div class="name-product">@m.Name</div>
                                <div class="more-info">
                                    <div class="where-activate-product">
                                        @if (m.WhereKeyActivated == "Steam")
                                        {
                                            <img src="/img/Game/logo/steam.png" alt="@m.WhereKeyActivated">
                                        }
                                        else if (m.WhereKeyActivated == "GOG")
                                        {
                                            <img src="/img/Game/logo/GOG.png" alt="@m.WhereKeyActivated">
                                        }
                                        else if (m.WhereKeyActivated == "Origin")
                                        {
                                            <img src="/img/Game/logo/origin.png" alt="@m.WhereKeyActivated">
                                        }
                                        else if (m.WhereKeyActivated == "Epic Games Store")
                                        {
                                            <img src="/img/Game/logo/epic_games.png" alt="@m.WhereKeyActivated">
                                        }
                                    </div>
                                    <div class="genre-product"> Экшены, RPG</div>
                                </div>
                            </div>
                            <div class="item-price">
                                @if (m.GamePrice.IsDiscount)
                                {
                                    <div class="discount-item">
                                        -@m.GamePrice.Discount%
                                    </div>
                                    <div class="cur-price-item">
                                        @m.GamePrice.DiscountPrice $.
                                    </div>
                                }
                                else
                                {
                                    <div class="cur-price-item">
                                        @m.GamePrice.Price $.
                                    </div>
                                }
                            </div>
                        </a>
                        counter++;
                    }

                    <a class="catalog-item-more-games" href="">
                        ЕЩЕ 4234 ИГР
                    </a>
                </div>
                <div class="catalog-expected">
                    @foreach (var m in Model.OrderBy(item => item.Name))
                    {
                        @if (counter == 8)
                        {
                            counter = 0;
                            break;
                        }
                        <a class="catalog-item" asp-action="Game" asp-controller="Game" asp-route-id="@m.Id">
                            <div class="block-img-catalog-item">
                                <img class="img-catalog-item" src="@m.GameImage?.ImageInCatalog"><img />
                            </div>

                            <div class="catalog-item-info">
                                <div class="name-product">@m.Name</div>
                                <div class="more-info">
                                    <div class="where-activate-product">
                                        @if (m.WhereKeyActivated == "Steam")
                                        {
                                            <img src="/img/Game/logo/steam.png" alt="@m.WhereKeyActivated">
                                        }
                                        else if (m.WhereKeyActivated == "GOG")
                                        {
                                            <img src="/img/Game/logo/GOG.png" alt="@m.WhereKeyActivated">
                                        }
                                        else if (m.WhereKeyActivated == "Origin")
                                        {
                                            <img src="/img/Game/logo/origin.png" alt="@m.WhereKeyActivated">
                                        }
                                        else if (m.WhereKeyActivated == "Epic Games Store")
                                        {
                                            <img src="/img/Game/logo/epic_games.png" alt="@m.WhereKeyActivated">
                                        }
                                    </div>
                                    <div class="genre-product"> Экшены, RPG</div>
                                </div>
                            </div>
                            <div class="item-price">
                                @if (m.GamePrice.IsDiscount)
                                {
                                    <div class="discount-item">
                                        -@m.GamePrice.Discount%
                                    </div>
                                    <div class="cur-price-item">
                                        @m.GamePrice.DiscountPrice $.
                                    </div>
                                }
                                else
                                {
                                    <div class="cur-price-item">
                                        @m.GamePrice.Price $.
                                    </div>
                                }
                            </div>
                        </a>
                        counter++;
                    }

                    <a class="catalog-item-more-games" href="">
                        ЕЩЕ 4234 ИГР
                    </a>
                </div>
            </div>

        </div>
        <div class="main-aside">
            <div class="product-with-discount">
                <div class="info-sicount-product-aside">
                    Скидки
                    <sup>от 40%</sup>
                </div>
                @foreach (var g in Model)
                {
                    @if (counter == 4)
                    {
                        counter = 0;
                        break;
                    }
                    <a asp-action="Game" asp-controller="Game" asp-route-id="@g.Id" class="discount-product-aside">
                        <div class="discount-product-aside-img">
                            <img src="@g.GameImage?.ImageInCatalog" alt="@g.Name">
                        </div>

                        <div class="discount-product-aside-name">@g.Name</div>
                        <div class="discount-product-aside-price">
                            @if (g.GamePrice.IsDiscount)
                            {
                                <div class="discount-prod-aside">
                                    <span>-@g.GamePrice.Discount%</span>
                                </div>
                                <div class="aside-cur-price">
                                    @g.GamePrice.DiscountPrice <span>$</span>
                                </div>
                            }
                            else
                            {
                                <div class="aside-cur-price">
                                    @g.GamePrice.Price<span>$</span>
                                </div>
                            }
                        </div>
                    </a>
                    counter++;
                }

                <a class="more-discount-product-aside" href="">
                    ЕЩЕ 3124 ИГР
                </a>
            </div>

            <div class="last-sell">
                <div class="last-sell-info">
                    Последние продажи
                </div>
                @foreach (var g in Model)
                {
                    @if (counter == 4)
                    {
                        counter = 0;
                        break;
                    }
                    <a asp-action="Game" asp-controller="Game" asp-route-id="@g.Id" class="discount-product-aside">
                        <div class="discount-product-aside-img">
                            <img src="@g.GameImage?.ImageInCatalog" alt="@g.Name">
                        </div>

                        <div class="discount-product-aside-name">@g.Name</div>
                        <div class="discount-product-aside-price">
                            @if (g.GamePrice.IsDiscount)
                            {
                                <div class="discount-prod-aside">
                                    <span>-@g.GamePrice.Discount%</span>
                                </div>
                                <div class="aside-cur-price">
                                    @g.GamePrice.DiscountPrice <span>$</span>
                                </div>
                            }
                            else
                            {
                                <div class="aside-cur-price">
                                    @g.GamePrice.Price<span>$</span>
                                </div>
                            }
                        </div>
                    </a>
                    counter++;
                }
            </div>
        </div>
    </div>
</div>


<div class="main-content-category">
    <div class="container-category">
        <div class="container-category__name">
            Категории
        </div>
        <ul class="list-categorys">
            @for (int i = 0; i < 20; i++)
            {
                <li class="list-categorys__list-item">
                    <a class="list-categorys__item" href="#">
                        <div class="list-categorys__item-image">
                            <img src="~/img/category/zombie_hand.png" alt="">
                        </div>
                        <div class="list-categorys__item-title">
                            Зомби
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>

<section class="release-calendar">
    <div class="container-release-calendar">
        <div class="container-release-calendar__name">
            Календарь релизов
        </div>
        <div class="conrainer-preorders-games">
            @for (int i = 0; i < 4; i++)
            {
                <div class="conrainer-preorders-games__game">
                    <a href="">
                        <img class="preorders__game-image" src="~/img/Game/Games/TERRARIA/Inner_Image.jpg" alt="">
                    </a>
                    <div class="preorders__game-data-release">
                        7 Мая 2021
                    </div>
                </div>
            }
        </div>
    </div>
</section>



@section Scripts{
    <script src="~/js/HomePage/HomePage.js"></script>

}